.container {
    background-color: #F4F5F9;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 1440px;
        height: 100vh;
        margin: 0 160px 0 320px;
        border-left: 1px solid rgba(66, 86, 122, 0.1);
        border-right: 1px solid rgba(66, 86, 122, 0.1);

        .line {
            position: absolute;
            background-color: #42567A;
            opacity: 0.1;
        }

        .middle-vertical {
            width: 1px;
            height: 100%;
            right: 50%;
            transform: translateX(-50%);
        }

        .middle-horizontal {
            width: 100%;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
        }

        .circle {
            position: absolute;
            width: 530px;
            height: 530px;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid rgba(66, 86, 122, 0.1);

            .small-circle {
                display: block;
                position: absolute;
                top: -5px;
                width: 10px;
                height: 10px;
                font-size: 1px;
                background-color: #42567A;
                border-radius: 50%;
                border: none;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
            }

            .small-circle:hover,
            .active {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 53px;
                height: 53px;
                background-color: #fff;
                top: -21px;
                border: 1px solid #42567A;
                transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, top 0.3s ease;
                font-size: 20px;
            }

            .name {
                position: absolute;
                left: 50px;
                color: #42567A;
                font-size: 20px;
                transform: translateY(-50%);
                opacity: 1;
                transition: opacity 3s ease
            }

            .no-name {
                position: absolute;
                opacity: 0;
            }

        }
    }

    .descr {
        position: absolute;
        bottom: 10px;
        left: 150px;

        .buttons {
            position: absolute;
            bottom: 200px;

            div {
                display: flex;
            }

            .prev-button,
            .next-button {
                margin-right: 20px;
                cursor: pointer;
                margin-top: 15px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid #42567A80;
            }

            .prev-button:disabled,
            .next-button:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }


    .promo_title {
        position: absolute;
        top: 120px;
        left: 80px;
        font-size: 56px;
        color: #42567A;
        line-height: 67px;
    }

    .promo_title::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -80px;
        width: 5px;
        height: 120px;
        background: linear-gradient(180deg, #3877EE, #EF5DA8);
        z-index: 2;
    }

    .main-date-wrapper {
        position: absolute;
        margin: 0 auto;
        display: flex;
        width: 970px;
        justify-content: space-between;
        align-items: center;
        font-size: 200px;
        line-height: 160px;
        font-weight: 700;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .date-start {
        color: #5d5fef;
    }

    .date-end {
        color: #ef5da8;
    }
}