.container {
    background-color: #fff;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 1440px;
        height: 100vh;
        margin: 0 160px 0 320px;
        border-left: 1px solid rgba(66, 86, 122, 0.1);
        border-right: 1px solid rgba(66, 86, 122, 0.1);

        .line {
            position: absolute;
            background-color: #42567A;
            opacity: 0.1;
        }

        .middle-vertical {
            width: 1px;
            height: 100%;
            right: 50%;
            transform: translateX(-50%);
        }

        .middle-horizontal {
            width: 100%;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
        }

        .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 530px;
            height: 530px;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid rgba(66, 86, 122, 0.1);
            transform: rotate(0deg);
            transform-origin: center;

            .one-four {
                position: absolute;
                height: 530px;
                transform: rotate(60deg);
                transform-origin: center;
                font-size: 1px;
            }

            .one {
                position: absolute;
                top: -5px;
                display: block;
                width: 10px;
                height: 10px;
                background-color: #42567A;
                border-radius: 50%;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;

                .one-inner {
                    transform: rotate(-60deg);
                }
            }

            .one:hover {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 53px;
                height: 53px;
                background-color: #fff;
                top: -21px;
                border: 1px solid #42567A;
                transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, top 0.3s ease;
                font-size: 20px;
            }

            .four {
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                background-color: #42567A;
                border-radius: 50%;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;

                .four-inner {
                    transform: rotate(-60deg);
                }
            }

            .four:hover {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 53px;
                height: 53px;
                background-color: #fff;
                bottom: -21px;
                border: 1px solid #42567A;
                transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, bottom 0.3s ease;
                font-size: 20px;
            }

            .two-five {
                position: absolute;
                height: 530px;
                transform: rotate(120deg);
                transform-origin: center;
                font-size: 1px;
            }

            .two {
                position: absolute;
                top: -5px;
                display: block;
                width: 10px;
                height: 10px;
                background-color: #42567A;
                border-radius: 50%;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;

                .two-inner {
                    transform: rotate(-120deg);
                }
            }

            .two:hover {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 53px;
                height: 53px;
                background-color: #fff;
                top: -21px;
                border: 1px solid #42567A;
                transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, top 0.3s ease;
                font-size: 20px;
            }

            .five {
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                background-color: #42567A;
                border-radius: 50%;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;

                .five-inner {
                    transform: rotate(-120deg);
                }
            }

            .five:hover {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 53px;
                height: 53px;
                background-color: #fff;
                bottom: -21px;
                border: 1px solid #42567A;
                transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, bottom 0.3s ease;
                font-size: 20px;
            }

            .three-six {
                position: absolute;
                height: 530px;
                transform: rotate(180deg);
                transform-origin: center;
                font-size: 1px;
            }

            .three {
                position: absolute;
                top: -5px;
                display: block;
                width: 10px;
                height: 10px;
                background-color: #42567A;
                border-radius: 50%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 1px;
                cursor: pointer;

                .three-inner {
                    transform: rotate(-180deg);
                }
            }

            .three:hover {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 53px;
                height: 53px;
                background-color: #fff;
                top: -21px;
                border: 1px solid #42567A;
                transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, top 0.3s ease;
                font-size: 20px;
            }

            .six {
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                background-color: #42567A;
                border-radius: 50%;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;

                .six-inner {
                    transform: rotate(-180deg);
                }
            }

            .six:hover {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 53px;
                height: 53px;
                background-color: #fff;
                bottom: -21px;
                border: 1px solid #42567A;
                transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, bottom 0.3s ease;
                font-size: 20px;
            }
        }

        .dot {
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            width: 10px;
            height: 10px;
            background-color: #42567A;
            border-radius: 50%;
        }
    }

    .promo_title {
        position: absolute;
        top: 120px;
        left: 80px;
        font-size: 56px;
        color: #42567A;
        line-height: 67px;
    }

    .promo_title::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -80px;
        width: 5px;
        height: 120px;
        background: linear-gradient(180deg, #3877EE, #EF5DA8);
        z-index: 2;
    }

    .main-date-wrapper {
        position: absolute;
        margin: 0 auto;
        display: flex;
        width: 970px;
        justify-content: space-between;
        align-items: center;
        font-size: 200px;
        line-height: 160px;
        font-weight: 700;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .date-start {
        color: #5d5fef;
    }

    .date-end {
        color: #ef5da8;
    }
}