.descr-wrapper {
    position: absolute;
    display: block;
    justify-content: space-around;
    align-items: center;
    bottom: 5px;
    max-width: 1200px;

    .item {
        min-width: 400px;

        .year {
            font-size: 25px;
            font-weight: 400;
            line-height: 30px;
            color: #3877EE;
        }

        .text {
            width: 320px;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #42567A;
            margin-top: 15px;
        }
    }
}