.descr-wrapper {
    position: absolute;
    display: block;
    justify-content: space-around;
    align-items: center;
    bottom: 5px;
    max-width: 1200px;
    margin-top: 56px;

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #fff;
        cursor: pointer;
        border: none;
        box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    }

    .prev-button {
        top: 35%;
        transform: rotate(180deg);
        left: -60px;
    }

    .next-button {
        top: 35%;
        right: -60px;
    }


    .item {
        min-width: 400px;

        .year {
            font-size: 22px;
            font-weight: 400;
            color: #3877EE;
        }

        .text {
            width: 320px;
            font-weight: 400;
            font-size: 17px;
            line-height: 30px;
            color: #42567A;
            margin-top: 15px;
        }
    }
}